:root {
  --primary: hsl(30, 38%, 92%);
  --primary2: hsl(158, 36%, 37%);
  --neutral: hsl(212, 21%, 14%);
  --neutral2: hsl(228, 12%, 48%);
  --neutral3: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  background-color: var(--primary);
}

.container {
  max-width: 350px;
  margin: 2em auto;
  overflow: hidden;
  border-radius: 1em;
}

.card {
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(0, 0%, 100%);
}

.img-card .desktop {
  display: none;
}

.img-card img {
  width: 100%;
}

.text {
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  color: var(--neutral2);
}

.text h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: var(--neutral);
  margin: 0.5em 0;
}

.price-container {
  margin-top: 1.5em;
  display: flex;
  align-items: center;
}

.price-container .price {
  color: var(--primary2);
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.price-container span {
  font-family: "Montserrat", sans-serif;
  margin-left: 1em;
  text-decoration: line-through;
}

button {
  border: none;
  border-radius: 0.5em;
  background-color: var(--primary2);
  color: var(--neutral3);
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 1em;
}

button svg {
  padding-right: 5px;
}

button:hover {
  background-color: rgb(1, 50, 32);
}

@media (min-width: 1440px) {
  .container {
    max-width: 600px;
  }

  .img-card img {
    display: none;
  }

  .img-card {
    width: 300px;
    background-color: blue;
  }

  .img-card .desktop {
    display: block;
    flex: 1;
  }

  .text {
    box-sizing: border-box;
    padding: 0.5em;
    flex: 1;
  }

  .card {
    flex-wrap: none;
  }

  .text h1 {
    margin: 30px 0;
  }
}
